<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-6 offset-md-3">
    <h2 class="margin-top-60">Edit your profile </h2>
    <div class="wrapper-grey padded">
      <div class="fullpage">
        <%= simple_form_for(@user) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs margin-right-15">
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :bio %>
          <%= f.input :avatar %>
          <%= f.input :avatar_cache, as: :hidden %>
        </div>
        <div class="form-actions margin-bottom-30 ">
          <%= f.button :submit, "Edit" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
