<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-6 offset-md-3">
    <h2 class="margin-top-60">Add your amenities </h2>
    <div class="wrapper-grey padded">

      <div class="fullpage">
        <%= simple_form_for [@space, @amenity] do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :on_site_parking %>
          <%= f.input :wheelchair_access %>
          <%= f.input :airco %>
          <%= f.input :elevator %>
          <%= f.input :natural_light %>
          <%= f.input :whiteboard %>
          <%= f.input :kitchen %>
          <%= f.input :projector %>
          <%= f.input :wifi %>
        </div>
        <div class="form-actions margin-bottom-30">
          <%= f.button :submit, "Next" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
