<!-- My incoming requests -->

<div class="wrapper-grey padded">
  <div class="container">
    <%= render 'bookings/incoming_booking_request' %>
  </div>
</div>

<!-- My outgoing requests -->

<div class="wrapper-grey padded">
  <div class="container">
    <%= render 'bookings/outgoing_booking_request' %>
  </div>
</div>

<!-- My profile -->

<div class="wrapper-grey padded">
  <div class="container">

    <%= render 'my_user_profile' %>

  </div>
</div>

<!-- My spaces -->

<div class="wrapper-grey padded">
  <div class="container">

    <%= render 'my_spaces' %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  </div>
</div>
