<fieldset class="form-fieldset">
    <%= simple_form_for [space, booking] do |f| %>
  <div class="form-group">
    <label class="form-label"><em>$<%= @space.price_per_hour %> per hour | <em><%= @space.capacity %> attendees</em></label>
  </div>
  <div class="form-group">
    <label class="form-label">Planned activity</label>
      <div class="form-group select optional booking_activity"><select class="form-control custom-select optional" name="booking[activity]" id="booking_activity"><% @activities.each do |activity| %>
        <option value="<%= activity %>"><%= activity %></option>
        <% end %>
      </select></div>

  </div>
      <div class="form-group">
        <label class="form-label">Start</label>
        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
          <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" name="booking[start_time]"/>
          <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fe fe-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label">End</label>
        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
          <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" name="booking[end_time]"/>
          <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fe fe-calendar"></i></div>
          </div>
        </div>
      </div>

  <div class="form-group">
    <label class="form-label">Total: <%= @booking.total_price %></label>
  </div>
  <div class="form-group mb-0">
    <%=  submit_tag 'Book it',
    class: 'btn btn-primary btn-square',
    style: 'width: 100%',
    placeholder: @space.capacity
    %>
  </div>
    </div>
  </div>
  <% end %>
</fieldset>

<%= content_for(:after_js) do %>
<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker({ format: 'DD/MM/YYYY hh:mm',
        startDate: '-3d'
    });
  });
  $(function () {
    $('#datetimepicker2').datetimepicker({ format: 'DD/MM/YYYY hh:mm',
      startDate: '-3d'
    });
  });
</script>
<% end %>

