<fieldset class="form-fieldset">
    <%= simple_form_for [space, booking] do %>
  <div class="form-group">
    <label class="form-label">Your planned activity</label>
    <%= text_field_tag :event_type,
    params[:event_type],
    class: "form-control form-required",
      placeholder: "Off-site"
      %>
  </div>

  <div class="form-group">
    <label class="form-label">Start<span class="form-required"></span></label>
    <div class="input-group">
      <%= date_field_tag :start_date,
        params[:start_date],
        class: "form-control form-required"
      %>

         <!-- <input type="text" name="field-name" class="form-control" data-mask="00/00/0000" data-mask-clearifnotmatch="true" placeholder="00/00/0000" autocomplete="off" maxlength="10"> -->

      <span class="input-group-append">
      <%= date_field_tag :start_time,
      params[:start_time],
      class: "form-control form-required"
      %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label">End<span class="form-required"></span></label>
    <div class="input-group">
      <%= date_field_tag :end_time,
      params[:end_time],
      class: "form-control form-required"
      %>
      <span class="input-group-append">
      <%= date_field_tag :end_date,
      params[:end_date],
      class: "form-control form-required"
      %>
      </span>
    </div>
  <div class="form-group">
    <label class="form-label">Guests<span class="form-required"></span></label>
    <%= number_field_tag :guest,
    params[:guest],
    class: 'form-control form-required',
    style: 'width: 30%'
    %>
  </div>
  <div class="form-group mb-0">
    <%=  submit_tag 'Book it',
    class: 'btn btn-primary btn-square',
    style: 'width: 100%',
    placeholder: @space.capacity
    %>
  </div>
  <% end %>
</fieldset>
